<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../../plugins/angularjs/angular.min.js"></script>
    <script src="../../../plugins/angularjs-extend-lib/angular-route.min.js"></script>
<style>
    .archive-card li {
        cursor: pointer;
    }
    .archive-card li:hover {
        background-color: #EDF0F2;
    }

    .panel-heading {
        border-radius: 0;
    }
</style>
</head>
<body ng-app="">
<div class="customContainter">
    <div class="archive-body" style="overflow-x: hidden ;padding: 0;   margin: 0px 10px;">
        <div class="col-xs-12" ng-repeat="archive in archives">
            <div class="archive-card">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-time"></span>&nbsp;
                            {{archive.name}}<span style="font-size: 12px">(共{{archive.count}}篇)</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="monthArchive in archive.childArchive| orderBy : '-name'" class="list-group-item" ng-click="selectArchive(monthArchive.name)">
                            {{monthArchive.name}}<span
                                style="font-size: 12px;">（{{monthArchive.count}}）</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>