<div class="customContainer">

    <div class="blog-body" style="overflow-x: hidden ;padding: 0;   margin: 0px 10px;">
        <!--加载进度条 -->
        <ng-include></ng-include>
        <div class="blog-content" style="padding: 20px 10px 10px 10px;
	margin: 0 5px;">
            <!-- 显示错误信息-->
            <div ng-if="error" ng-show="false">{{errorMessage}}</div>
            <div ng-if="!error" ng-init="articles=[
    {title:'agaag',summary:'aoaigajg',pubTime:'12222',hits:200,countMessages:'gsg'},
    {title:'agaag',summary:'aoaigajg',pubTime:'12222',hits:200,countMessages:'gsg'}]">
                <div class="card" style="
    padding: 5px 20px 6px 20px;
    background-color: #fff;
    margin:0px 0px 15px 0px;" ng-repeat="article in articles">
                    <ng-include src="'modules/blog/show-content-view.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
