<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studio.river.dao.IArticleDao" >
  <resultMap id="BaseResultMap" type="studio.river.pojo.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="category_ids" property="categoryIds" jdbcType="VARCHAR" />
    <result column="tag_ids" property="tagIds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
    <result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>


  <resultMap id="ArticleVoMap" type="studio.river.vo.ArticleVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="category_ids" property="categoryIds" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="tag_ids" property="tagIds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
    <result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="studio.river.pojo.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!--最近发布的文章 -->
<select id="selectRecent" resultMap="BaseResultMap">
  SELECT  * from t_article ORDER BY pub_time DESC LIMIT 3;
</select>


  <!--查询所有的文章 -->
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT  * from t_article  ORDER BY pub_time DESC
    <if test=" pageBean!=null and pageBean.pageIndex!=null and pageBean.pageSize!=null">
      LIMIT #{pageBean.pageIndex,jdbcType=INTEGER},#{pageBean.pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <!--查询所有的文章数量 -->
  <select id="selectCount" resultType="Integer">
    SELECT count(*) FROM t_article;
  </select>


  <select id="getByVoCode" resultMap="ArticleVoMap">
    SELECT  t1.*,t2.name as category_name,t2.code as category_code
    FROM t_article t1
    LEFT JOIN t_category t2
  ON
  t1.category_ids = t2.id
  WHERE
  t1.code = #{code,jdbcType=VARCHAR}
  AND
  t1.category_ids = t2.id
  </select>



  <select id="selectNextOrPreVoBy" resultMap="BaseResultMap">
    select t1.id,t1.title,t1.code
    from t_article t1
    <where>
      <if test="nextOrPreVo != true">
        AND t1.pub_time > #{article.pubTime,jdbcType=TIMESTAMP}
      </if>
      <if test="nextOrPreVo == true">
        AND #{article.pubTime,jdbcType=TIMESTAMP} > t1.pub_time
      </if>
    </where>
    order by t1.pub_time
    <if test="nextOrPreVo == true">
      desc
    </if>
    limit 1
  </select>

  <resultMap type="studio.river.vo.ArchiveVo"  id="ArchiveVoMap">
    <result property="name" column="year_name" />
    <result property="count" column="year_count" />
    <collection property="childArchive" column="child_archive" ofType="studio.river.vo.ArchiveVo">
      <result property="name" column="month_name" />
      <result property="count" column="month_count" />
    </collection>
  </resultMap>

  <select id="getArchiveList" resultMap="ArchiveVoMap">
    SELECT t1.year_name,t1.year_count,t2.month_name,t2.month_count
    FROM
      (
        SELECT count(*) as year_count,DATE_FORMAT(t.pub_time,"%Y年") as year_name
        FROM t_article as t WHERE t.pub_time!='' GROUP BY year_name ORDER BY t.pub_time DESC
      ) t1
      LEFT JOIN
      (
        SELECT count(*) as month_count,DATE_FORMAT(t.pub_time,"%Y年") as year_name,
          DATE_FORMAT(t.pub_time,"%Y-%m") as month_name
        FROM t_article as t WHERE t.pub_time!='' GROUP BY month_name ORDER BY month_name DESC
      ) t2
      on t1.year_name = t2.year_name
  </select>


  <select id="selectArchiveArticles" resultMap="BaseResultMap">
    SELECT t.* FROM t_article as t
    WHERE DATE_FORMAT(t.pub_time,"%Y-%m") = #{month_name,jdbcType=VARCHAR}
    ORDER BY t.pub_time DESC
  </select>

  <select id="getCategoryArticles" resultMap="BaseResultMap">
    SELECT  * FROM t_article as t1
    WHERE t1.category_ids = #{categoryCode,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="studio.river.pojo.Article" >
    insert into t_article (id, title, summary, 
      category_ids, tag_ids, status, 
      write_time, pub_time, hits, 
      code, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{categoryIds,jdbcType=VARCHAR}, #{tagIds,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{writeTime,jdbcType=TIMESTAMP}, #{pubTime,jdbcType=TIMESTAMP}, #{hits,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="studio.river.pojo.Article" >
    update t_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="categoryIds != null" >
        category_ids = #{categoryIds,jdbcType=VARCHAR},
      </if>
      <if test="tagIds != null" >
        tag_ids = #{tagIds,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="writeTime != null" >
        write_time = #{writeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pubTime != null" >
        pub_time = #{pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hits != null" >
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="studio.river.pojo.Article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      category_ids = #{categoryIds,jdbcType=VARCHAR},
      tag_ids = #{tagIds,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      write_time = #{writeTime,jdbcType=TIMESTAMP},
      pub_time = #{pubTime,jdbcType=TIMESTAMP},
      hits = #{hits,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="studio.river.pojo.Article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      category_ids = #{categoryIds,jdbcType=VARCHAR},
      tag_ids = #{tagIds,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      write_time = #{writeTime,jdbcType=TIMESTAMP},
      pub_time = #{pubTime,jdbcType=TIMESTAMP},
      hits = #{hits,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>