<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../../plugins/angularjs/angular.min.js"></script>
    <script src="../../../plugins/angularjs-extend-lib/angular-route.min.js"></script>
</head>
<body ng-app="" style="background-color: #D0D0D0">
<div style="overflow: scroll">

    <!-- 主题-->

    <div style="height: 400px;margin-bottom: 10px;background-color: #ffffff;">
        <div class="article-header" >
            <div class="col-sm-12" style="padding: 0;text-align: center;margin-bottom: 5px">
                <h2>
                    {{article.title}}
                </h2>
            </div>

        </div>

        <div class="article-body" style="background-color: #ffffff">
            <!-- 摘要-->
            <div class="col-sm-12  summary" style="margin-bottom: 5px;border-top:1px solid black;border-bottom: 1px solid black">
                <div style="color:#9B9B9B;font-size:13px;padding-top:5px">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <a style="" href="">{{article.categoryName}}</a>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-time"></span>
                        <a style="margin-right: 5px" title="归档:{{article.putTime|date:'yyyy-MM'}}" href=""> {{article.pubTime | date :'yyyy-MM-dd HH:ss'}}</a>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span style="margin-right: 5px">阅读{{article.hits}}</span>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>评论({{article.countMessages}})</span>
                    </span>
                </div>
            </div>

            <div class="col-sm-12" style="margin-top: 100px">
                <div ng-bind-html="article.content">
                </div>
            </div>


        </div>
    </div>

    <!-- 页面翻转-->
    <div style="background-color: #ffffff;height: 50px;margin-bottom: 10px">
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <a href=""><span>上一篇:</span></a>
            <span ng-if=""><span>上一篇:</span>没有了...</span>
        </div>

        <div class="col-sm-12">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <a href=""><span>下一篇:</span></a>
            <span ng-if=""><span>下一篇:</span>没有了...</span>
        </div>

    </div>

    <!--留言内容-->
    <div style="margin-bottom: 10px" ng-init="messages=[
    {name:'river',content:'我啊尴尬给卡尴尬可归纳',time:'2017456'},
    {name:'river',content:'我啊尴尬给卡尴尬可归纳',time:'2017456'},
    {name:'river',content:'我啊尴尬给卡尴尬可归纳',time:'2017456'},
    ]">
        <div>
            <div class="col-xs-12" style="background-color: #00c4ff;margin:0 10px 0 10px">
                <h3>
                    <span class="glyphicon btn-lg glyphicon-comment"></span>
                    查看留言<span ng-if="messages">>({{messages.length}})条</span>
                </h3>
            </div>
            <!--留言主体-->

            <div ng-repeat="msg in messages" style="margin: 10px;background-color: #ffffff;border: 2px silver solid ">
                <h2>{{msg.name}}</h2>
                <div style="padding: 10px 15px 5px 15px;">
                    <p>{{msg.content}}</p>
                </div>
                <p class="" style="color: #9B9B9B;margin: 0 10px 4px 0;font-size:10px;text-align: right;">
                    发表于{{msg.time|date:'yyyy-MM-dd HH:mm'}}
                </p>
            </div>

        </div>

    </div>

    <!--发表留言-->
    <div style="height:500px;background-color: #ffffff;margin-top: 10px">
            <div class="" style="margin: 50px;">
                <div class="col-xs-12">
                    <h3>发表您的看法</h3>
                    <form class="form-horizontal" name="messageForm" ng-submit="">
                        <div class="form-group">
                                <div class="row">
                                    <label>邮箱</label>
                                    <div>
                                        <input placeholder="必填" class="form-control" type="email" name="email"
                                        ng-model="guest.email" required/>

                                    </div>

                                </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label>昵称</label><!--<span style="padding-left:20px;font-size: 12px;color:green;"
                                                           ng-bind="nicknameValidInfo"></span>-->
                                <div><input placeholder="必填，您的大名" class="form-control" type="text"
                                            name="nickname" ng-model="guest.nickname"
                                            required/>
                                    <!--ng-blur="getGuestInfoByNickname(guest.email,guest.nickname)"-->
                                    <!--ng-disabled="!guest.email"-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label>个人网址</label>

                                <div><input placeholder="希望我们能够互相信任 ^_^" class="form-control"
                                            name="personalWebsite"
                                            ng-model="guest.personalWebsite" type="text"/></div>
                                <!--ng-disabled="!guest.email"-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label>观点</label>

                            <div class="col-sm-12" style="padding:0">
                                <div id="message-editormd"
                                     style="margin-bottom: 0;width:100%;border-color: silver;">
                                        <textarea class="editormd-markdown-textarea"
                                                  name="$id-markdown-doc"></textarea>
                                    <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
                                    <!--<textarea class="editormd-html-textarea"
                                              name="$id-html-code"></textarea>-->
                                </div>
                            </div>
                        </div>

                        <button type="submit" ng-disabled="messageForm.$invalid" class="btn btn-primary"
                                style="width: 100px;margin-top: 10px;">提 交
                        </button>
                        <span style="padding-left:20px;font-size: 12px;color:red;"
                              ng-bind="contentValidInfo"></span>
                        <span style="line-height: 36px;color:green" ng-bind="resultMessage"></span>
                    </form>
                </div>
            </div>
    </div>

</div>

</body>
</html>